# don't track our data
test
test-data
data

# or annoying system files
.DS_Store
*~

# or virtualenv/pipenv files
Pipfile*

# python caches
__pycache__
*.pyc
.mypy_cache
.nox
.coverage
.egg-info

# local environment setup
.env
